In [9]:
import pandas as pd

In [11]:
df=pd.read_json('file.json')

In [12]:
df.head()

,architectures,categories,certification_status,created_at,filter_type,id,logo_url,name,operating_systems,popularity,publisher,pull_count,short_description,slug,source,star_count,type,updated_at
0,"[{'name': 'amd64', 'label': 'x86-64'}]","[{'name': 'languages', 'label': 'Programming L...",certified,2017-04-18 01:43:57.982474,store,,"{'large': '', 'small': 'https://d1q6f0aelx0por...",Oracle Java 8 SE (Server JRE),"[{'name': 'linux', 'label': 'Linux'}]",0,"{'id': '376743ad-9a63-4211-b33a-8b47c0408bf9',...",NaN,Oracle Java 8 SE (Server JRE),oracle-serverjre-8,store,0,image,2018-12-18 04:45:33.371760
1,"[{'name': 'amd64', 'label': 'x86-64'}]","[{'name': 'database', 'label': 'Databases'}]",certified,2017-08-14 17:33:32.464356,store,,"{'large': '', 'small': 'https://d1q6f0aelx0por...",MySQL Server Enterprise Edition,"[{'name': 'linux', 'label': 'Linux'}]",0,"{'id': '376743ad-9a63-4211-b33a-8b47c0408bf9',...",NaN,The world's most popular open source database ...,mysql-enterprise-server,store,0,image,2018-11-20 17:18:24.774896
2,"[{'name': 'amd64', 'label': 'x86-64'}]","[{'name': 'storage', 'label': 'Storage'}, {'na...",not_certified,2016-06-16 00:00:00.000000,official,,{'large': 'https://d1q6f0aelx0por.cloudfront.n...,couchbase,"[{'name': 'linux', 'label': 'Linux'}]",0,"{'id': 'docker', 'name': 'Docker'}",10M+,Couchbase Server is a NoSQL document database ...,couchbase,store,374,image,2019-02-27 06:31:55.454354
3,"[{'name': 'amd64', 'label': 'x86-64'}]","[{'name': 'application_framework', 'label': 'A...",certified,2017-04-18 01:00:50.847849,store,,"{'large': '', 'small': 'https://d1q6f0aelx0por...",Oracle WebLogic Server,"[{'name': 'linux', 'label': 'Linux'}]",0,"{'id': '376743ad-9a63-4211-b33a-8b47c0408bf9',...",NaN,Oracle WebLogic Server,oracle-weblogic-server-12c,store,0,image,2019-01-17 04:32:34.009726
4,"[{'name': 'amd64', 'label': 'x86-64'}, {'name'...","[{'name': 'database', 'label': 'Databases'}]",not_certified,2016-06-17 23:07:46.606083,official,,{'large': 'https://d1q6f0aelx0por.cloudfront.n...,redis,"[{'name': 'linux', 'label': 'Linux'}, {'name':...",0,"{'id': 'docker', 'name': 'Docker'}",10M+,Redis is an open source key-value store that f...,redis,store,6585,image,2019-02-27 06:30:58.421247

In [13]:
df.describe()

       popularity    star_count
count        25.0     25.000000
mean          0.0   3116.800000
std           0.0   3337.087203
min           0.0      0.000000
25%           0.0    374.000000
50%           0.0   1522.000000
75%           0.0   5640.000000
max           0.0  10980.000000

In [14]:
df['filter_type'].value_counts()

official    19
store        6
Name: filter_type, dtype: int64